name: scan_push 
on: 
  workflow_run:
    workflows: ["test_build"]
    types: ["completed"]
    branches: ["main"]
  workflow_dispatch:
    
permissions:
  contents: read 
  id-token: write 
concurrency: 
  cancel-in-progress: true 
  group: ${{github.ref}}
jobs:
  integration_test:
    runs-on: ubuntu-latest
    timeout-minutes: 3 
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    outputs:
      image-tag: ${{steps.image_tags.outputs.tag}}
    steps:
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v6
        with: 
          role-to-assume: ${{secrets.AWS_ROLE}}
          aws-region: ${{secrets.AWS_REGION}}
      - name: download the artifact 
        run: aws s3 cp s3://project-a-kubernetes-s3-bucket/image.tar .
      - name: download image metadata 
        id: image_tags
        run: |
          aws s3 cp s3://project-a-kubernetes-s3-bucket/image_tag.txt  .  
          tags=$(cat "image_tag.txt" | grep "sha-" )
          echo "tag=$tags" >> "$GITHUB_OUTPUT"

      - name: load the image for docker 
        run: docker load -i image.tar 
      - name: check image 
        run: docker images 
      - name: run integration test
        run: |
          docker run -d --name integration_check_app -p 80:80 ${{steps.image_tags.outputs.tag}}
          retries=10 
          intervals=3
          health_url=http://localhost:80/healthz
          count=0
          until [ $count -ge $retries ]; do
            image_health=$(curl --connect-timeout 2 --max-time 5 -s -o /dev/null -w "%{http_code}" "$health_url" || echo "000")

            if [[ "$image_health" == "200" ]]; then
            echo "Integration Test Passed! at $count attempt" 
            docker logs integration_check_app
            docker ps 
            docker stop integration_check_app
            docker rm -f integration_check_app 
            exit 0
            fi 
            count=$((count +1 ))
            echo "The number of attempt is $count/$retries with status code $image_health"
            sleep "$intervals"
          done 
          echo "Integration test failed"
          docker stop integration_check_app 
          docker rm -f integration_check_app 
          exit 1 
    #============
    #Trivy security scan
    #==============
  trivy_scan: 
    runs-on: ubuntu-latest
    needs: integration_test 
    timeout-minutes: 2 
    steps:
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v6 
        with: 
          role-to-assume: ${{secrets.AWS_ROLE}}
          aws-region: ${{secrets.AWS_REGION}}
      - name: download image  
        run: aws s3 cp s3://project-a-kubernetes-s3-bucket/image.tar . 
      - name: load image to runner 
        run: docker load -i image.tar 
      - name: run Trivy scan 
        id: trivy
        uses: aquasecurity/trivy-action@0.34.0 
        with:
          format: 'table'
          severity: 'CRITICAL,HIGH'
          exit-code: '0'
          ignore-unfixed: 'true'
          vuln-type: 'os,library'
          image-ref: ${{needs.integration_test.outputs.image-tag}}
      - name: check
        if:  steps.trivy.outcome == 'success'
        run: echo "Passed Trivy security check!"
    #==================
    #Push to aws ecr 
    #=============
  push:
    runs-on: ubuntu-latest
    needs: [integration_test, trivy_scan]
    timeout-minutes: 2 
    steps:
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v6 
        with: 
          role-to-assume: ${{secrets.AWS_ROLE}}
          aws-region: ${{secrets.AWS_REGION}}
      - name: download image  
        run: aws s3 cp s3://project-a-kubernetes-s3-bucket/image.tar . 
      - name: load image to runner 
        run: docker load -i image.tar 
      - name: login to ecr 
        uses: aws-actions/amazon-ecr-login@v2 
      - name: push 
        run: | 
          docker tag ${{vars.ECR_REG}}/${{vars.ECR_REPO}} ${{vars.ECR_REG}}/${{vars.ECR_REPO}}: latest
          docker push ${{vars.ECR_REG}}/${{vars.ECR_REPO}}:latest
          docker push  ${{needs.integration_test.outputs.image-tag}}