name: scan_push 
on: 
  workflow_run:
    workflows: ["test_build"]
    types: ["completed"]
    branches: ["main"]
  workflow_dispatch:
    
permissions:
  contents: read 
  id-token: write 
concurrency: 
  cancel-in-progress: true 
  group: ${{github.ref}}
jobs:
  integration_test:
    runs-on: ubuntu-latest
    timeout-minutes: 3 
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    steps:
      - name: aws login 
        uses: aws-actions/configure-aws-credentials@v6
        with: 
          role-to-assume: ${{secrets.AWS_ROLE}}
          aws-region: ${{secrets.AWS_REGION}}
      - name: download the artifact 
        run: aws s3 cp s3://project-a-kubernetes-s3-bucket/image.tar .
      - name: download image metadata 
        id: image_tags
        run: |
          aws s3 cp s3://project-a-kubernetes-s3-bucket/image_tag.txt  .  
          cat image_tag.txt | grep "464356371111.dkr.ecr.us-east-1.amazonaws.com/project_a_kubernetes:sha-6c87068" >> .

      - name: load the image for docker 
        run: docker load -i image.tar 
      - name: check image 
        run: docker images 
      - name: login to ecr 
        uses: aws-actions/amazon-ecr-login@v2 
      - name: run integration test
        run: |
          ls -la 