name: sonar_qube_scan 
on: 
  push: 
    branches: ["main"]
  pull_request: 
    branches: ["main"]
    types: [opened, synchronize, reopened]    
  workflow_dispatch:
    
permissions: 
  contents: read
concurrency:
  cancel-in-progress: false
  group: sonar-cloud
jobs:
  #sonar qube to scan source code 
  sonar_scan: 
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: checkout repo 
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0  #a deep fetch for good scanning of source code
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: scan 
        uses:  SonarSource/sonarqube-scan-action@v7.0.0 
        env: 
          SONAR_TOKEN: ${{secrets.SONAR_SCAN}}
          